<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Remember
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Remember</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card horizontal="center" *ngIf="link">
    <ion-card-title style="text-align: center;">Do you remember this?</ion-card-title>
    <ion-card-subtitle style="text-align: center;">{{date | date: 'mediumDate'}}</ion-card-subtitle>
    
    <ion-card-content style="text-align: center;">
      <img [src]="link" >
    </ion-card-content>

  </ion-card>

</ion-content>
